@font-face {
  font-family: "harryp";
  src: url("/src/components/font/harryp.TTF");
}

.nav_container {
  display: flex;
  align-items: center;
}
.form {
  width: 30%;
  margin-right: 7%;
  margin-left: -50px;
}
.searchBar {
  width: 100%;
  display: inline;
  height: 40px;
  background: transparent;
  border: 3px solid lightgray;
  color: lightgray;
}
.searchBar::placeholder {
  color: lightgray;
  font-size: 2.5vh;
}
.img_container {
  width: 40%;
}
.icono {
  width: 70%;
}
.submit {
  display: inline;
  width: 15%;
  margin-left: 2%;
}

@media (max-width: 900px) {
  .icono {
    width: 95%;
  }
  .form {
    margin-left: 2%;
  }
  .searchBar::placeholder {
    color: lightgray;
    font-size: 1.5vh;
  }
}

@media (max-width: 1010spx) {
  .icono {
    width: 90%;
  }
}
.mute {
  width: 15%;
  height: 15%;
  color: white;
  font-family: "harryp";
  font-size: 3vw;
  cursor: pointer;
}
.mute:hover {
  color: #da912c;
}
